.updates {
  @media (min-width: $medium) {
    border: 1px solid $brand-grey;
    padding: $baseline;
    height: 80vh;
  }
}

.updates__title {
  margin: 0;
  @include section-title;
}

.updates__entries-container {
  @media (min-width: $medium) {
    overflow-y: scroll;
    height: 90%;
  }
}

.updates__entries {
}

.updates__entry {
  background-color: $brand-grey-light;
  padding: $baseline/2 $baseline;
  margin: $baseline 0;
  a {
    @include link-underline($brand-grey-light, #000, $brand-grey-dark, #000)
  }
}

.updates__heading {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: $fontsize2;
}

.updates__meta {
  @include apparatus-sans;
  color: $brand-grey-dark;
}

.updates__time,
.updates__author {
}

.updates__body {
  margin-top: $baseline;
  p {
    margin-top: $baseline;
  }
}

.twitter-tweet {
  font-family: $font-family-sans-serif;
}
